<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Website Pencatatan Kasus Penyakit Dicov</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{style.css}"/>
</head>
<body>
    <!-- Lengkapi bagian yang kosong untuk mengimplementasikan form -->
    <div class="container">
        <h1>Form Pencatatan Kasus</h1>
        <form action="#" th:action="@{/isi-kasus}" th:object="${kasusDicov}" method="POST">
            <div class="field">
                <div>Nama:</div>
                <input type="text" th:field="*{nama}" />
            </div>
            <div class="field">
                <div>Umur:</div>
                <input type="text" th:field="*{umur}" />
            </div>
            <div class="field radio-field">
                <div>Jenis Kelamin:</div>
                <div th:each="type : ${listJenisKelamin}">
                    <input type="radio" th:field="*{jenisKelamin}" th:value="${type}" />
                    <label th:text="${type}"></label>
                </div>
            </div>
            <div class="field">
                <div>Alamat:</div> 
                <input type="text" th:field="*{alamat}" />
            </div>
            <div class="field radio-field">
                <div>Status:</div>
                <div th:each="type : ${listStatus}">
                    <input type="radio" th:field="*{status}" th:value="${type}" />
                    <label th:text="${type}"></label>
                </div>
            </div>
            <div class="button-container">
                <input type="submit" value="Submit" />
            </div>
        </form>
    </div>
    
</body>
</html>

