<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Website Pencatatan Kasus Penyakit Dicov</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{style.css}"/>
</head>
<body>
    <div class="container">
        <!-- Lengkapi bagian yang kosong -->
        <h1 th:text="${'''''SUKSES MENCATAT ' + kasusDicov.nama.toUpperCase() + ''''''}"></h1>
        <div>
            <a href="/"><button class="textButton">''Halaman utama''</a>
            <a href="/isi-kasus"><button class="textButton">''Catat kasus lain''</a>
            <a href="/lihat-semua-kasus"><button class="textButton">''Lihat semua kasus''</a>
        </div>
    </div>
</body>
</html>
