<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Website Pencatatan Kasus Penyakit Dicov</title>
	<link rel="stylesheet" th:href="@{style.css}">
</head>

<body>
	<div class="container">
		<!-- Ubah baris berikut untuk mengganti nama sesuai yang diberikan dari Controller -->
			<h1 th:text="'Halo ' + ${nama} + '!'"></h1>

			<!-- Lengkapi bagian yang kosong -->
			<a href="/isi-kasus"><button>Catat kasus</button></a>
			<a href="/lihat-semua-kasus"><button>Lihat semua kasus</button></a>
	</div>
</body>

</html>
