<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Website Pencatatan Kasus Penyakit Dicov</title>
    <link rel="stylesheet" th:href="@{style.css}">
</head>

<body>
    <a href="/"><button>Kembali ke halaman utama</button></a>
    <div class="container">
        <h2>Tabel kasus yang sudah dicatat</h2>
        <table>
            <thead>
                <tr>
                    <th> Nama </th>
                    <th> Umur </th>
                    <th> Jenis Kelamin </th>
                    <th> Alamat </th>
                    <th> Status </th>
                </tr>
            </thead>
            <tbody>
                <!-- Implementasi untuk membuat isi dari tabel -->
                <tr th:if="${listKasus.empty}">
                    <td colspan="5">Belum Ada Kasus</td>
                </tr>
                <tr th:each="kasus : ${listKasus}">
                    <td><span th:text="${kasus.nama}"></span></td>
                    <td><span th:text="${kasus.umur}"></span></td>
                    <td><span th:text="${kasus.jenisKelamin}"></span></td>
                    <td><span th:text="${kasus.alamat}"></span></td>
                    <td><span th:text="${kasus.status}"></span></td>
                </tr>
            </tbody>
        </table>
        <div class="container">
            <!-- Implementasi untuk memberikan informasi mengenati kasus berdasarkan jumlah -->
            <div class="info" th:text="'Jumlah Kasus Perempuan: ' + ${genderList[1]}"></div>
            <div class="info" th:text="'Jumlah Kasus Laki-Laki: ' + ${genderList[0]}"></div>
            <div class="info" th:text="'Jumlah Kasus Positif: ' + ${statusList[0]}"></div>
            <div class="info" th:text="'Jumlah Kasus Negatif: ' + ${statusList[1]}"></div>
            <div class="info" th:text="'Jumlah Semua Kasus: ' + ${totalKasus}"></div>
        </div>
    </div>
</body>
    
</html>
    